* {
  background-color: black;
  color: azure;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos CSS para el chat */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#chat-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

#chat-messages {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}

.message {
  margin-bottom: 10px;
}

#chat-form {
  display: flex;
  flex-direction: column;
}

#user-input,
#message-input {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
