<h1>Ingreso usuario registrado</h1>

<form onsubmit="handleLogin()">

    <label for="email">Email</label>
    <input type="email" name="email" id="email">

    <label for="password">Password</label>
    <input type="password" name="password" id="password">

    <button type="submit">Login</button>
</form>
<span>
    <a href="/api/sessions/github"><button>Entrar con Github</button></a>
</span>
<span><a href="/register" target="_self">Register</a></span>
<span><a href="/recovery" target="_self" style="'margin-left: 10px;">Olvide mi contraseña</a></span>

{{#if registerSuccess}}
    <script type="text/javascript">
        alert('Register Success!');
    </script>
{{/if}}
<script type="text/javascript">
    function handleLogin() {
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        fetch('/api/sessions/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email, password }),
        })
        .then(data => {
            window.location.href = "/products";
        })
        .catch(error => {
            alert('Login Failed!' + error);
        });
    }
</script>