<h1>Recuperar contraseña</h1>

<form method="post" action="/api/norification/recovery">

    <label for="email">Email</label>
    <input type="email" name="email" id="email">

    <button type="submit">Enviar email de recuperacion</button>
</form>

